<header>
    <div id="logo">
      <img src="logo.png" alt="Website logo, a server" />
    </div>
  
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/">Management</a>
        </li>
        <li>
          <!-- Saves us the extra unnecessary DOM element that came with using <app-button/> -->
          <button appButton>
            Logout 
            <span class="icon">
              →
            </span>
          </button>
        </li>
      </ul>
    </nav>
</header>