<form (ngSubmit)="onSubmit()" #form>
    <app-control label="Title"> 
        <!-- #titleInput creates a template variable -->
        <input name="title" id="title" #input [(ngModel)]="enteredTitle"/>
    </app-control>

    <app-control label="Request"> 
        <textarea name="request" id="request" rows="3" #input [(ngModel)]="enteredText"></textarea>
    </app-control>

    <!-- If you use a template variable <button appButton #btn> then it's actually
        a component instance that's stored as a value not the underlying dom element -->
    <p>
        <button appButton>
            Submit 
            <span class="icon">
                ⌲
            </span>
        </button>
    </p>
</form>