<app-header />

<main>
  <div id="dashboard">

    <!-- Despite not using property binding for title we are still setting the input but no setting 
     it to some dynamically evaluated TS expression result-->
    <app-dashboard-item [image]="{src: 'status.png', alt:'A signal symbol'}" title="Server Status">
      <app-server />
    </app-dashboard-item>

    <app-dashboard-item [image]="{src: 'globe.png', alt:'A globe'}" [title]="trafficTitle">
      <app-traffic />
    </app-dashboard-item>

    <app-dashboard-item [image]="{src: 'list.png', alt:'A list of items'}" title="Support Tickets">
      <app-support />
    </app-dashboard-item>

  </div>
</main>
