<!-- Creates Weeky/Calendar Toggle Switch -->
<label class="toggle">
    <input 
        type="checkbox"
        (click)="changeSchedule()">
        <span class="slider"></span>
        <span class="labels" data-off="Weekly" data-on="Calendar"></span>
    </label>
<br>



        <table class="center">
            <tr>
                <th>Activity</th>
                    @for (day of currentView; track day) { 
                        <th>
                            {{ day }}
                            <br>
                            {{ dates[$index] }}
                        </th>
                    }
            </tr>
            @for (item of activity; track item) {
                <tr>
                    <td>
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    </td>
                        @for (day of currentView; track day) {
                            <td>
                                <input 
                                    type="text" 
                                    class="form-control"
                                    [(ngModel)]="item.hours">
                            </td>
                        }
                    <td>
                        <button (click)="addRow(item)">+</button>
                        <button (click)="deleteRow([$index])">-</button>
                    </td>
                </tr>
            }
            <tr>
                <!-- <th>Total:</th>
                @for (total of currentView; track total) {
                    <td>
                        <input 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="hour">
                        </td>
                } -->
            </tr>
        </table>
